:root {
  --primary-color: #05428C;
  --secondary-color: #50e3c2;
  --text-color: #333;
  --background-color: #f5f5f5;
  --font-family: 'Quicksand', sans-serif;
  --color-white: #ffffff;
  --sidebar-bg: linear-gradient(180deg, #173479 0%, #199ae3 38.23%, #199ae3 100%)
}
.min-h-screen {
  min-height: 100vh !important;
}
.page {}
.page .sider {
  background: var(--sidebar-bg);
}
.page .sider .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.page .sider .logo img {
  width: 100%;
  height: auto;
}
.header {}
.main {}
footer {
  display: flex;
}
